.logo img {
  content:url("https://goo.gl/images/pZ5hLn");
}

.logo span {
  display: none;
}

.logo:after {
  content: 'Jenkins. My instance (powered by CJE)';
  font-weight: bold;
  font-size: 20px;
  margin-left: 6px;
  margin-right: 12px;
  color: white;
}
